#aboutme {
    width: 100%;
    margin: 15em auto;
    text-align: center;

    h2 {
        font-family: var(--font);
        letter-spacing: var(--spacing);
        color: white;
    }

    div {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    img {
        width: 250px;
        height: 250px;
        margin: 3em;
        border-radius: 50%;
        object-fit: cover;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.7em;
        text-align: center;
    }

    li {
        font-family: 'Roboto';
        font-size: 0.9em;
        background-color: rgb(190, 141, 101);
        padding: 6px;
        border-radius: 1rem;
    }

    p {
        margin: 4em auto;
        width: 40%;
        font-family: 'Roboto';
        line-height: 1.4rem;
        color: rgb(190, 141, 101);
    }

    button {
        font-family: var(--font);
        font-size: 1.2em;
        letter-spacing: var(--spacing);
        color: white;
        border: none;
        cursor: pointer;
        transition: transform 0.5s ease, color 0.5s ease;
    }

    button:hover{
        color: rgb(180, 108, 49);
    }
}