#cvsection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font);
    letter-spacing: var(--spacing);

        h2, h3, h4, p {
            color: white;
            padding-bottom: 0.7rem;
        }

        div {
            padding-bottom: 3rem;
        }

        h2 {
            padding-bottom: 3rem;
            font-size: 1.7rem;
        }

        h3 {
            color: var(--copper-color);
            font-size: 1.2rem;
        }

        h4 {
            font-size: 0.97rem;
        }

        p {
            font-size: 0.92rem;
        }
}