button {
    font-family: var(--font);
    font-size: 0.95rem;
    letter-spacing: var(--spacing);
    color: white;
    border: none;
    cursor: pointer;
}

#nav button {
    transition: var(--transform-style);

    &:hover {
        color: var(--hover-color);
    }
}

#aboutme button {
    font-size: 1.3rem;
    transition: var(--transform-style);

    &:hover {
        color: var(--hover-color);
    }
}

.finaldegreeproject button {
    transition: transform 0.5s ease, background-color 0.5s ease;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 0.3rem;

    &:hover {
        background-color: var(--hover-color);
    }    
}

.change-section-button-container {
    margin: 0 auto;
    text-align: center;

    button {
        letter-spacing: normal;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 1rem;
        padding: 0.7rem;
        background-color: var(--copper-color);
        margin-bottom: 5rem;
    }
}
