button {
    font-family: var(--font);
    font-size: 0.95rem;
    letter-spacing: var(--spacing);
    color: white;
    border: none;
    cursor: pointer;
}

#nav .section-button {
    transition: var(--transform-style);

    &:hover {
        color: var(--hover-color);
    }

    &:focus {
        color: var(--hover-color);
    }

    &:active {
        color: var(--hover-color);
    }
}

.easter-egg {
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    letter-spacing: var(--spacing);
    transition: var(--transform-style);

    &:hover {
        color: rgba(247, 247, 18, 0.808);
    }
}

@media (max-width: 450px) {

    .easter-egg {
        font-size: 1.48rem;
    }
}

.toggle-theme-button {
    font-size: 1.6rem;
    padding: 0.2rem;
    transition: var(--transform-style);

    &:hover {
        color: rgb(214, 214, 31);
    }
}

#aboutme button {
    font-size: 1.3rem;
    transition: var(--transform-style);

    &:hover {
        color: var(--hover-color);
    }
}

.final-degree-project button {
    transition: transform 0.5s ease, background-color 0.5s ease;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 0.3rem;

    &:hover {
        background-color: var(--hover-color);
    }    
}

.change-section-button-container {
    margin: 0 auto;
    text-align: center;

    button {
        letter-spacing: normal;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 1rem;
        padding: 0.7rem;
        background-color: var(--copper-color);
        margin-bottom: 5rem;
    }
}

.project-card-button-see button {
    transition: transform 0.5s ease, background-color 0.5s ease;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 0.3rem;

    &:hover {
        background-color: var(--hover-color);
    }
}

.project-card-button-github {
    width: 30%;
    display: block;
}

.project-card-button-github button {
    margin-top: 0.7rem;

    img {
        width: 100%;
        height: 30px;
        object-fit: cover;
    }
}
