#experience-section, .experience-section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font);
    letter-spacing: var(--spacing);

        h2, h3, p {
            color: white;
            padding-bottom: 0.7rem;
        }

        .experience-entry {
            padding-bottom: 3rem;
        }

        h2 {
            padding-bottom: 3rem;
            font-size: 1.7rem;
        }

        h3 {
            font-size: 1.2rem;
            color: white;
        }

        p {
            color: var(--copper-color);
            font-size: 0.92rem;
            margin: 0 auto;
            width: 35%;
            line-height: 1.4rem;
        }
}

/* Media queries */

@media (max-width: 450px) {

    #experience-section p {
        width: 70%;
    }
}